body {
  font-family: "Raleway", sans-serif;
}

.navbar img{
  width: 300px;
}


/* Hero Section */

#Hero-Section {
  background-image: url("../img/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Acerca-de-mi h2, h3{
  color: #d83b94;
}

/* Mis trabajos */
#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card-title{
  color: #d83b94;
}

/* Contacto */
#Contacto h2{
  color: #d83b94;
}
#Contacto form label {
  font-weight: 700;
  color: #d83b94;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }


}
